@CHARSET "UTF-8";
.container{
	background-color: rgb(250, 255, 189);
	margin:20px;
}
.head{
	margin-top:17px;
	margin-bottom:15px;
	text-align:center;
	font-size:22px;
}

.leader{
	text-align:center;
	border:1px solid #ffffff;
	width:480px;
	height:50px;
	margin:0 auto;
}
.loginInfo{
	text-align:right;
	font-size:12px;
	width:480px;
	height:30px;
	margin:0 auto;
}
.messageBox{
	border:2px solid #000000;
	width:480px;
	height:450px;
	margin:0 auto;
}