/* title */
#title{
    text-align: center;
    margin-top: 10px;
}
/* ---------------------------------------------- */

/* form */
#content{
    width: 400px;
    height: 400px;
    margin-left: 300px;
    margin-top: 50px;
}

#sitename{  margin-left: 22px; }
#sitetype{  margin-left: 9px; }
#sitedtail{ margin-left: 9px; }

.text{
    height: 20px;
    margin-top: 10px;
}
.ttext{
    height: 20px;
}

#sumbtn{
    margin-left: 100px;
    width: 80px;
    height: 20px;
    background: url("../../images/button.jpg");
    color: #ffffff;
    border:none;
    border-radius:5px;
}

#datetext{
    color: red;
    margin-left: 100px;
    font-size: 20px;
    margin-top: 50px;
}
/* ---------------------------------------------- */
