/* searchsite */
#searchsite{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

/* ---------------------------------------------------------------------------- */

/* sitelist */
#sitelist{
    width: 100%;
    height: 600px;
    text-align: center;
}

#site-table{
    margin: 0 auto;
    border: 1px solid;
    height: 600px;
    width: 100%;
}
td{ border: 1px solid; }
#sitetitle{
    background: deepskyblue;
    color: #ffffff;
}
.site-name{
    width: 100px;
    height: 20px;
}
.site-type{
    width: 100px;
    height: 20px;
}
.site-cost{
    width: 80px;
    height: 20px;
}
.site-dtail{
    width: 200px;
    height: 20px;
}
/* ---------------------------------------------------------------------------- */

/* main-footer */
#main-footer{
    text-align: center;
    margin-top: 5px;
}
#page-last{
    width: 17px;
    height: 25px;
    background: deepskyblue;
    color: #ffffff;
    border:none;
    border-radius:5px;
}
#page-next{
    width: 17px;
    height: 25px;
    background: deepskyblue;
    color: #ffffff;
    border:none;
    border-radius:5px;
}
