#content{  margin-left: 350px;  }

#sumbtn{ margin-left: 25px; }

#sitename{ margin-left: 10px; }
#dayofweek{ margin-left: 20px;}

#datatext { margin-left: 40px; }

#textarea{ height: 40px; }
#remark{ margin-left: 10px; }